/*
 * SCENE PRINCIPAL
 */

body{
    margin: 0;
    padding: 0;
}
.scene
{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/*
 *    Background
 */

.background
{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(128,201,196,1);

}

.background-theme
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.background-day
{
    background: linear-gradient(0deg, rgba(128,201,196,1) 5%, rgba(249,234,107,1) 100%);
    animation-direction: alternate;
}


.background-night
{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%); opacity: 0;
    animation-direction: alternate-reverse;
}

/* ANIMATION */

.background-animation
{
    animation-name: passDay;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

@keyframes passDay
{
    0%{opacity: 1}
    100%{opacity: 0;}
}


/*
 *   SUN - MOON
 */

.sun-moon
{
    z-index: 0;
    width: 100vw;
    height: 115vw;
    position: absolute;
    top: 0px;
    animation: moveSunMoon 100s infinite linear reverse;
}

.planet-sphere
{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    border-radius: 50%;
}

.planet-radial
{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px);
}

/* SUN */

.background-sun
{
    background: #fff;
}

.radial-sun
{
    top: -50px;
    background: radial-gradient(circle, rgba(253,207,76,0.7693452380952381) 0%, rgba(255,255,255,0.007440476190476164) 71%);
}

/* MOON */

.radial-moon
{
    bottom: -50px;
    background: radial-gradient(circle, rgba(255,255,255,0.7693452380952381) 0%, rgba(255,255,255,0.007440476190476164) 71%);
}

.background-moon
{
    background: #000;
    bottom: 0px;
}

/* ANIMATION */

@keyframes moveSunMoon
{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

/*
 * PLANETE
 */

.planet
{
    position: absolute;
    bottom: 0px;
    left:50%;
}

/* EARTH*/

.earth
{
    position: absolute;
    top: -40vh;
    left: -50vw;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    background: green;
}

/* FLOWERS */

.flowers
{
    position: absolute;
    top: -40vh;
    left: -50vw;
    width: 100vw;
    height: 100vw;
}

/* ANIMATION */

.flowers
{
    animation: turnEarth 10s infinite linear reverse;
}

.run-pause .flowers{
    animation-play-state: paused;
}

@keyframes turnEarth
{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

.flower-red
{
    position: absolute;
    top: -1vw;
    width: 2px;
    left: 50%;
    height: 20px;
    background: green;
}


/*
 * PLAYER
 */

.player
{
    position: absolute;
    left: calc(50% - 50px);
    bottom: 40%;
    width: 100px;
    height: 137px;
}

.player.jump
{
    animation: jump 1s ease-out ;
}

/* HEAD */

.player .head
{
    height: 30px;
    width: 30px;
    border: 2px #000 solid;
    border-radius: 50%;
    margin: auto;
}

/* BODY TOP */
.player .body-top
 {
     height: 45px;
     width: 100%;
 }

.spin
{
    height: 45px;
    width: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
}

.spin::after
{
    content: '';
    height: 4px;
    width: 4px;
    display: block;
    position: absolute;
    background: #000;
    bottom: -2px;
    left: -1px;
    border-radius: 50%;
}

.arms
{
    width: 30px;
    height: 50px;
    border-top: 2px solid #000;
    position: absolute;
    top: 43px;
    left: calc(50% - 15px);
}


.arm-left
{
    position: absolute;
    top: 0;

}

.arm-right
{
    position: absolute;
    top: 0;
    right: 0px;
}

.arm-step1
{
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #000;
    transform: rotate(-45deg);
    transform-origin: top;
}

.arm-step1::before
{
    content: '';
    height: 4px;
    width: 4px;
    position: absolute;
    display: block;
    left: -1px;
    top: -3px;
    border-radius: 50%;
    background-color: #000;
}

.arm-step1::after
{
    content: '';
    height: 4px;
    width: 4px;
    position: absolute;
    display: block;
    left: -1px;
    bottom: -3px;
    border-radius: 50%;
    background-color: #000;
}

.arm-step2
{
    width: 2px;
    position: absolute;
    height: 25px;
    background-color: #000;
    transform: rotate(-125deg);
    transform-origin: top;
    left: 19px;
    top: 18px;
}

.arm-step2::after
{
    content: '';
    height: 10px;
    width: 6px;
    background: #000;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -2px;
    top: 23px;
}

/* BODY BOTTOM */
.player .body-bottom
{
    height: 61px;
    width: 100%;
}

.leg-left , .leg-right
{
    position: absolute;
    left: 50%;
    transition: all 2s;
}

.leg-left
{
    transform: rotate(45deg);
}

.leg-step1
{
    height: 32px;
    width: 2px;
    background: #000;
    position: absolute;
    left: 50%;
    transform-origin: top;
    transform: rotate(-30deg);
}

.leg-step1::after
{
    content: '';
    height: 4px;
    width: 4px;
    background: #000;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    left: -1px;
}

.leg-step2
{
    height: 32px;
    width: 2px;
    background: #000;
    position: absolute;
    left: 16px;
    top: 28px;
    transform-origin: top;
    transform: rotate(5deg);
}

.leg-step2::after
{
    content: '';
    height: 4px;
    width: 16px;
    background: #000;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -2px;
    top: 30px;
    transform: rotate(6deg);
    transform-origin: top;
}


/* ANIMATION */

.player-animation .arm-left, .player-animation .arm-right
{
    animation: runArmAll 0.5s infinite alternate linear;
}

.player-animation .arm-step2
{
    animation: runArmStep2 0.5s infinite alternate linear;
}

.player-animation .arm-right,.player-animation .arm-step2
{
    animation-direction: alternate-reverse;
}

.player-animation .leg-left ,.player-animation .leg-right
{
    animation: runLeg 0.6s infinite alternate cubic-bezier(0.4, 0, 1, 1);;
}

.player-animation .leg-left
{
    animation-direction: alternate-reverse;
}

.run-pause .leg-left, .run-pause .leg-right, .run-pause .arm-left,.run-pause .arm-right,  .run-pause .arm-step2
{
    animation-play-state: paused;
}


@keyframes runLeg
{
    0%
    {
       transform: rotate(-20deg);
    }
    100%
    {
        transform: rotate(70deg);
    }
}

@keyframes runArmAll
{
    0%
    {
        transform: rotate(-10deg);
    }
    100%
    {
        transform: rotate(71deg);
    }
}

@keyframes runArmStep2
{
    0%
    {
        transform: rotate(-160deg);
    }
    100%
    {
        transform: rotate(-135deg);
    }
}

@keyframes jump
{
     0%
     {
        transform: translateY(0px);
     }
     50%
     {
         transform: translateY(-60px);
     }
     100%
     {
         transform: translateY(0px);
     }
}